@using WebShop.Extensions.IdentityExtensions

<div class="navbar navbar-default navbar-left">
    <div class="profile-sidebar">
        <div class="profile-usertitle">
            <div class="profile-usertitle-name">
                <p class="small white-text">
                    @User.GetUserName()
                </p>
            </div>
            <h4 style="color:#e7e9fa">@User.GetUserRole() </h4>
        </div>

        <form asp-area="" asp-controller="Account" asp-action="Logout" method="post" id="logoutForm" class="navbar-right xs-padding">
            <ul class="nav nav-pills nav-stacked left-side-nav">
                <li class="@UserProfileMenuNavPages.MainNavClass(ViewContext)"><a asp-controller="Home" asp-action="Main"><i class="fa fa-home" style="font-size:18px;color:white"></i> Home</a></li>
                <li class="@UserProfileMenuNavPages.ProductsNavClass(ViewContext)"><a asp-controller="Product" asp-action="Products"><i class="fa fa-car" style="font-size:18px;color:white"></i> Products</a></li>
                <li class="@UserProfileMenuNavPages.CartDetailsNavClass(ViewContext)"><a asp-controller="Cart" asp-action="Details"><i class="fa fa-shopping-cart" style="font-size:18px;color:white"></i> My Cart</a></li>
                <li class="@UserProfileMenuNavPages.ManageAccountNavClass(ViewContext)"><a asp-controller="Manage" asp-action="Index"><i class="fa fa-cog fa-spin" style="font-size:18px;color:white"></i> Manage account</a></li>
                <li class="@UserProfileMenuNavPages.UserProfileNavClass(ViewContext)"><a asp-controller="UserProfile" asp-action="ManageUserProfile"><i class="fa fa-universal-access" style="font-size:18px;color:white"></i> Manage User profile</a></li>
                @if (User.IsInRole("Admin"))
                {
                    <li class="@UserProfileMenuNavPages.SendEmailNavClass(ViewContext)"><a asp-controller="UserProfile" asp-action="SendEmail"><i class="fa fa-universal-access" style="font-size:18px;color:white"></i> Send Emails</a></li>
                }

                <li><button type="submit" class="btn btn-link navbar-btn navbar-link"><i class="fa fa-outdent" style="font-size:18px;color:white"></i> Log out</button></li>
            </ul>
        </form>
    </div>
</div>